## Libraries

In [23]:
import numpy as np
import pandas as pd

## Fetching Dataset

In [24]:
# Creating Empty Arrays.
heights = np.array(list())
weights = np.array(list())

# File Operations.
with open('hw.txt', 'r') as data:
    # Pulling all content in file.
    dataset = data.readlines()

    # This is a better approach than looping.
    # However, need to use map-reduce for
    # stripping the extra `\n` whitespace.
    # heights = dataset[ : : 2]
    # weights = dataset[1 : : 2]

    # Iterating over each row to filter and fetch it.
    for iteration in range(len(dataset)):
        if iteration % 2 == 0:
            heights = np.append(heights, int(dataset[iteration].strip()))
        else:
            weights = np.append(weights, int(dataset[iteration].strip()))

heights, weights

(array([180., 170., 170., 140., 180., 150., 185., 165., 150., 140., 155.,
        182., 170.]),
 array([180., 200., 180., 190., 130., 220., 110., 300.,  86., 300., 150.,
        178., 150.]))

In [25]:
# Reading data in DataFrame.
df = pd.DataFrame(dict({
    'height_cm' : heights,
    'weight_lb' : weights
}))
df

    height_cm  weight_lb
0       180.0      180.0
1       170.0      200.0
2       170.0      180.0
3       140.0      190.0
4       180.0      130.0
5       150.0      220.0
6       185.0      110.0
7       165.0      300.0
8       150.0       86.0
9       140.0      300.0
10      155.0      150.0
11      182.0      178.0
12      170.0      150.0

## Data Filtering

In [26]:
# Converting Centi-Meters to Meters.
df['height_m'] = df['height_cm'] / 100
df.height_m

0     1.80
1     1.70
2     1.70
3     1.40
4     1.80
5     1.50
6     1.85
7     1.65
8     1.50
9     1.40
10    1.55
11    1.82
12    1.70
Name: height_m, dtype: float64

In [27]:
# Converting LBS to KG.
df['weight_kg'] = df['weight_lb'] / 2.2
df.weight_kg

0      81.818182
1      90.909091
2      81.818182
3      86.363636
4      59.090909
5     100.000000
6      50.000000
7     136.363636
8      39.090909
9     136.363636
10     68.181818
11     80.909091
12     68.181818
Name: weight_kg, dtype: float64

## Calculating BMI

In [28]:
df['bmi'] = df['weight_kg'] / (df['height_m'] * df['height_m'])
df.bmi

0     25.252525
1     31.456433
2     28.310790
3     44.063080
4     18.237935
5     44.444444
6     14.609204
7     50.087653
8     17.373737
9     69.573284
10    28.379529
11    24.426123
12    23.592325
Name: bmi, dtype: float64

## Categorizing Weights

### BMI Categories:
- Under Weight <= 18.5
- Normal Weight = 18.5 - 24.9
- Over Weight = 25 - 29.9
- Obesity >= 30

In [29]:
df['bmi_categories'] = pd.cut(df.bmi, bins = [0, 18.5, 25, 30, float('inf')], labels = ['Under Weight', 'Normal', 'Over Weight', 'Obesity'])
df.bmi_categories

0      Over Weight
1          Obesity
2      Over Weight
3          Obesity
4     Under Weight
5          Obesity
6     Under Weight
7          Obesity
8     Under Weight
9          Obesity
10     Over Weight
11          Normal
12          Normal
Name: bmi_categories, dtype: category
Categories (4, object): ['Under Weight' < 'Normal' < 'Over Weight' < 'Obesity']

In [30]:
df.bmi_categories.sort_values()

4     Under Weight
6     Under Weight
8     Under Weight
11          Normal
12          Normal
0      Over Weight
2      Over Weight
10     Over Weight
1          Obesity
3          Obesity
5          Obesity
7          Obesity
9          Obesity
Name: bmi_categories, dtype: category
Categories (4, object): ['Under Weight' < 'Normal' < 'Over Weight' < 'Obesity']

# Displaying Records

In [31]:
for category in df.bmi_categories.sort_values().unique():
    print(f'{ category }:')
    dataset = df[df.bmi_categories == category]
    for person_index, data in dataset.iterrows():
        print(f'Person- { person_index + 1 } : { data.bmi }')
    print(f'Group Size: { len(dataset) }')
    print(f'Average BMI for this group: { dataset.bmi.mean() }')

print(f'The file has records for: { len(df) } persons')
print(f'Average BMI for all these { len(df) } persons: { df.bmi.mean() }')

Under Weight:
Person- 5 : 18.23793490460157
Person- 7 : 14.609203798392985
Person- 9 : 17.37373737373737
Group Size: 3
Average BMI for this group: 16.740292025577308
Normal:
Person- 12 : 24.426123327222225
Person- 13 : 23.592324630386912
Group Size: 2
Average BMI for this group: 24.00922397880457
Over Weight:
Person- 1 : 25.25252525252525
Person- 3 : 28.310789556464297
Person- 11 : 28.379528899820254
Group Size: 3
Average BMI for this group: 27.314281236269935
Obesity:
Person- 2 : 31.456432840515888
Person- 4 : 44.063079777365495
Person- 6 : 44.444444444444436
Person- 8 : 50.087653393438515
Person- 10 : 69.57328385899814
Group Size: 5
Average BMI for this group: 47.92497886295249
The file has records for: 13 persons
Average BMI for all these 13 persons: 32.292850927531795